@media screen and (max-width: 1300px) and (min-width: 720px) { 

div.topdiv{
    height: 8%;
}

h3.text{
    font-size: calc(1.8vh);
}

div.background1{
    width: 100%;
    position: relative;
    overflow: hidden;
	height: 100vh;
}


div.background1::before {
    background: url(/image/108380348_p0.png);
    width: 100%;
    filter: blur(3px);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	left: -5%;
	top: -5%;
	padding: 5%;
}

div.background2{
    width: 100%;
    height: 961px;
    position: relative;
    background-repeat: no-repeat;
}

div.background2::before{
    width: 100%;
    height:961px;
    opacity: 0.3;
}

div.avatar{
    width: 22%;
    height: calc(83vh);
    left: 4.0%;
    position: absolute;
    background-color:var(--div-bg-color);
    box-shadow: var(--div-box-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    border-top: var(--div-border);
    border-left: var(--div-border);
    border-right: var(--div-border);
    border-bottom: var(--div-border);
}



img.avatar{
    height: calc(18vw);
    clear: both;
    display: block;
    margin: auto;
    border-radius: 100%;
}

div.rightinfo{
    width: 69%;
    height: 810px;
    margin-left: 30%;
    position: absolute;
}

div.part-top{
    width: 100%;
    height: calc(55vh);
    position: absolute;
    background-color:var(--div-bg-color);
    box-shadow: var(--div-box-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    border-top: var(--div-border);
    border-left: var(--div-border);
    border-right: var(--div-border);
    border-bottom: var(--div-border);
}

div.part-bottom{
    width: 100%;
    height: calc(24.1vh);
    position: absolute;
    background-color:var(--div-bg-color);
    box-shadow: var(--div-box-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    border-top: var(--div-border);
    border-left: var(--div-border);
    border-right: var(--div-border);
    border-bottom: var(--div-border);
}




div.btm-border-top{
    align-items: center;
    margin: 0 auto;
    height: 90px;
    width: calc(62vw);
    padding-top: 1%;
    display: flex;
}

button.blog{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 110px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-services);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.blog:hover {
    border-color: rgb(154, 184, 162,1);
    border: var(--btm-border);
    color: var(--btm-text-color-hover);
}

button.alist{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 120px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-services);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.alist:hover {
    border: var(--btm-border);
    color: var(--btm-text-color-hover);
}

button.minecraft-serevr{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 210px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-services);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.minecraft-serevr:hover {
    border: var(--btm-border);
    color: var(--btm-text-color-hover);
}

button.donate{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 140px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-services);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.donate:hover {
    border: var(--btm-border);
    color: var(--btm-text-color-hover);
}

div.btm-border-buttom{
    align-items: center;
    margin: 0 auto;
    height: 90px;
    width: calc(64vw);
    display: flex;
}



button.github{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 125px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-touch);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.github:hover {
    border: var(--btm-border);
    color: var(--btm-text-color-hover);
}

button.bilibili{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 125px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-touch);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.bilibili:hover {
    color: var(--btm-text-color-hover);
    border: var(--btm-border);
}

button.douyin{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 135px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-touch);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.douyin:hover {
    color: var(--btm-text-color-hover);
    border: var(--btm-border);
}

button.telegram{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 155px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-touch);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.telegram:hover {
    color: var(--btm-text-color-hover);
    border: var(--btm-border);
}

button.mail{
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    width: 135px;
    line-height: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--btm-border);
    border-color: var(--transparent-color);
    color: var(--btm-text-color-touch);
    background-color:var(--btm-bg-color);
    transition-duration: var(--btm-excessive-time);
}
button.mail:hover {
    border: var(--btm-email-color) solid;
    background-color: var(--btm-email-color);
    color: var(--btm-text-color-hover);
}

div.rightinfo-inv{
    height: calc(58.5vh);
}

div.footnote-inv{
    height: calc(85vh);
}

}  